<div class="section-gap pt-6 overlay-section">
    <div class="container">


        <h2 class="text-center font-bold">Compare & Save your Money</h2>
        <h5 class="text-center  font-light">Our customers save an average of 60%*</h5>

        <div fxLayout="row wrap" class="col-gap">

            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="m-0">
                <div fxLayout="row wrap" class="col-gap">


                    <div *ngFor="let item of items" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33"
                         fxFlex.xl="33">

                        <div class="main-bg-inner overlay-section-item overlay-section-overlay relative"
                             [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
                            <div class="end-left">
                                <div class="overlay-section-content">
                                    <h4 class="mb-0 font-bold" [innerHTML]="item.title"></h4>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
