<div class="container page">

    <div fxLayout="row " fxLayoutGap="25px">

        <div class="sidebar mat-background-warn" fxFlex="24">
            <app-insurance-category-menu></app-insurance-category-menu>
        </div>

        <div fxFlex="76" fxLayout.lt-sm="column">

            <mat-card class="w-100 display-block">

                <mat-card-content>

                    <mat-horizontal-stepper [selectedIndex]="0" labelPosition="bottom" [linear]="true" #stepper
                                            class="w-100 display-block p-3">

                        <mat-step [completed]="fillFormStepCompleted" [editable]="false">
                            <div>
                                <ng-template matStepLabel>Fill out the form</ng-template>

                                <app-insurance-car-form
                                        (completed)="stepCompleted('fillForm')"></app-insurance-car-form>

                            </div>
                        </mat-step>

                        <mat-step [completed]="pickAgenciesStepCompleted" [editable]="false">
                            <div>
                                <ng-template matStepLabel>Choose over 40 insurance agencies</ng-template>

                                <app-agency-select></app-agency-select>

                                <div class="mt-5">
                                    <button mat-flat-button matStepperPrevious class="mr-2">Back</button>
                                    <button mat-flat-button color="primary" (click)="stepCompleted('pickAgencies')" [libSpinBtn]="saving">Submit
                                        Request
                                    </button>
                                </div>
                            </div>
                        </mat-step>
                        <mat-step [editable]="false">
                            <ng-template matStepLabel> Get the best deal.</ng-template>

                            <app-quote-thank-you></app-quote-thank-you>

                        </mat-step>
                    </mat-horizontal-stepper>

                </mat-card-content>
            </mat-card>

        </div>

    </div>
</div>
