:host {

  h4 {
    font-size: 20px;
    top: 1px;
  }


  mat-card {
    border: 1px solid #e4e4e4;
    padding-bottom: 0;
  }

  mat-list-item {
    height: auto !important;
    padding: 10px 0 !important;
    font-size: 14px !important;

    img {
      border-radius: 15px;
    }

    .label {
      color: #8d8d8d;

    }

    .value {
      font-weight: 500;
      display: block;

    }
  }

  ::ng-deep .mat-list-item-content {
    display: block!important;
  }
}
