@import "../../../../../assets/scss/material-theme";


ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: white;
    margin-bottom: 12px;
    padding: 15px 25px;
    box-shadow: 1px 1px 5px 1px #f5f4f4;
    border: 1px solid #e8e8e8;
    border-radius: 2px;

    img {
      width: 32px;
      height: 32px;
      display: inline-block;
      margin-right: 18px;
    }

    h3 {
      display: inline-block;
      font-size: 18px;
      color: $primary;
      position: relative;
      top: 3px;
    }
  }
}
