<div class="row">

  <div class="col-md-12 mb-2">


    <div class="row">

      <div class="col-md-8">

        <h4 class="title">
          <mat-icon class="mat-18" color="primary">account_balance</mat-icon>
          My Bank Accounts
        </h4>

      </div>
      <div class="col-md-4 text-right">

        <button mat-flat-button color="primary" (click)="addBankAccount()">
          <mat-icon class="mat-18">add</mat-icon>
          Connect Bank Account

        </button>

      </div>
    </div>


  </div>


  <div class="col-md-12 mt-2">
    <div class="alert alert-light " role="alert">
      <p class="m-0">
        <mat-icon color="primary">info</mat-icon>
        <span> Please connect all your bank accounts, one by one in order to be able to calculate your credit report.</span>
      </p>
    </div>
  </div>

  <div class="col-md-6" *ngFor=" let item of bankAccounts">
    <app-bank-account [account]="item"></app-bank-account>
  </div>
</div>
