<div fxLayout='row wrap' fxLayoutAlign="center center" class="mt-4">
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
        <div class="form-img thank-you-image text-center">
            <h2 class="text-inverse">Thank You</h2>
        </div>
        <div fxLayout='row wrap' fxLayoutAlign="center center">
            <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="80" fxFlex.lg="50" fxFlex.xl="50">
                <mat-card class="text-center p-4 thank-you-card">
                    <h4 class="px-3">
                        You request has been send to 30 agencies, we will notify you with email on each response.
                    </h4>
                    <hr class="spacer">
                    <button routerLink="/account/profile" mat-raised-button class="button-lg w-100" color="accent">Go to
                        Dashboard
                    </button>
                </mat-card>
            </div>
        </div>
    </div>
</div>
