mat-card {
  position: relative;
  padding: 10px 5px;
  border: 1px solid #ececec;
  margin-bottom: 20px;

  .logo {
    width: 100px;
    height: 100px;
    border-radius: 18px;
  }

  .title {
    margin: 0;
  }


  .content {
    a {
      font-weight: normal;
    }
  }

  .details {
    span.label {
      display: block;
      color: #827f7f;
      margin-top: 5px;
    }

    span.value {
      font-weight: 500;
      margin-top: 2px;
      display: block;
    }
  }

  .edit-btn {
    position: absolute;
    top: 5px;
    right: 6px;
  }

}
