@import "../../../../../../assets/scss/material-theme";

.item {


  .c100 > span {
    color: #655e5e;
  }

  &.full {
    border-left: 4px solid $primary;

    .score {

      //.bar,.fill {
      //  border: 0.08em solid $primary;
      //}

      .title {
        .percentage {
          color: $primary;
        }
      }
    }
  }

  border: 1px solid #eaeaea;
  border-left: 4px solid $accent;
  padding: 20px 0px;

  margin: 10px;
  border-radius: 4px;


  .score {

    .title {
      text-align: center;
      font-size: 13px;
      font-weight: 500;
      margin-top: 3px;
      text-transform: uppercase;
    }

    border-right: 1px solid #e6e5e5;
  }


  .company {
    h4 {
      margin: 0px;
      font-size: 20px;
    }

    h6 {
      font-size: 14px;
      padding-left: 1px;
    }

    .logo {
      margin-top: 5px;
      height: 25px;
    }

  }


  .label {
    font-weight: 500;
  }


  .scoring {

    /deep/ {

      mat-chip {
        font-size: 12px;
      }

      .mat-chip-list-wrapper .mat-standard-chip {
        margin: 2px;
      }

      .mat-standard-chip {
        min-height: 25px;
      }

    }
  }

  .details {

    margin-top: 20px;

    border-top: 1px solid #dadcda;


    .title {
      padding: 10px 6px;
    }

    .score {
      background: #f5f5f5;
      padding: 20px;

      .score-item {
        .type {
          text-align: center;
          font-weight: 500;
          margin-top: 2px;
          font-size: 12px;
        }

      }

      .c100.small {
        font-size: 72px;
      }

      .title {
        .percentage {
          color: #008023;
          padding-top: 2px;
          display: block;
          font-size: 13px;
        }
      }
    }


    .key-benefits {

      ul {
        list-style: none;
        padding: 0px;

        li {
          margin-top: 4px;

          span {
            font-size: 15px;
            display: inline-block;
            position: relative;
            top: -6px;
            margin-left: 8px;
            font-weight: 500;
          }
        }
      }


    }


    .details-footer {

      .price {
        font-size: 4em;
      }
    }
  }


}
