<div class="row item {{getColor(offer.total)}}" (click)="showDetails=!showDetails">

    <div class="col-2 align-center score score-item">
        <div class="c100 p{{offer.total}} small center {{getColor(offer.total)}}">
            <span>{{offer.total}}%
            </span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
    </div>

    <div class="col-4 align-center pl-4">

        <div class="row no-gutters company">

            <div class="col-12">
                <h4 style="font-size: 1.8em;">{{offer.name}}</h4>
                <h6 class="text-muted">{{offer.product}}</h6>
            </div>

        </div>
    </div>

    <div class="col-2 align-center">
        <mat-chip-list>
            <mat-chip color="primary" selected *ngIf="offer.status=='quoted'" selected>Quoted</mat-chip>
            <mat-chip color="warn" selected *ngIf="offer.status=='pending'">Pending</mat-chip>
        </mat-chip-list>
    </div>


    <div *ngIf="offer.status==='quoted'" class="col-1 text-center align-center">
        <h4 class="m-0">
            <div class="price">€{{offer.price}}</div>
        </h4>
    </div>

    <div *ngIf="offer.status==='pending'" class="col-3 text-left align-center">
        <h4 class="m-0">
            <div class="price">€100-200</div>
        </h4>
    </div>


    <div *ngIf="offer.status!=='pending'" class="col-3 text-center align-center">
        <a
                mat-raised-button color="accent"
                (click)="$event.stopPropagation();"
                href="https://online.bankofcyprus.com/netteller-web/Login.faces">
            <mat-icon style="font-size: 19px; margin-top: 1px;"> shopping_cart</mat-icon>
            Purchase</a>
    </div>


    <div class="col-12 p-0">

        <div *ngIf="showDetails" class="w-100 details d-block align-center">

            <div class="score">
                <h4 class="title" fxFlexAlign="center">
                    Score
                    <span class="percentage">
                    {{offer.total}}%
                </span>
                </h4>

                <div fxLayout="row" fxFlex="100" fxLayoutGap="20px">
                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{offer.benefit}} small center {{getColor(offer.benefit)}}">
                            <span>{{offer.benefit}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Benefits</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{offer.premium}} small  center {{getColor(offer.premium)}}">
                            <span>{{offer.premium}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Premium</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{offer.security}} small  center {{getColor(offer.security)}}">
                            <span>{{offer.security}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Financial Security</div>
                    </div>
                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{offer.easeOfuse}} small  center {{getColor(offer.easeOfuse)}}">
                            <span>{{offer.easeOfuse}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Ease of Use</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{offer.customerSatisfaction}} small  center {{getColor(offer.customerSatisfaction)}}">
                            <span>{{offer.customerSatisfaction}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Customer Satisfaction</div>
                    </div>
                </div>
            </div>


            <div class="information pt-4">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-7">
                            <h4 class="title">Who Provides the Insurance</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque commodi cum ea
                                eligendi minus odio omnis reiciendis sapiente voluptas!
                            </p>


                            <h4 class="title">Duration</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt maiores molestiae non
                                repudiandae. Cumque iste maiores quaerat quam quos, voluptatem?
                            </p>


                            <div class="action pt-2 pb-4">
                                <a mat-button href="/assets/media/policy.pdf" download
                                   (click)="$event.stopPropagation()">
                                    <mat-icon class="mr-2" color="accent">cloud_download</mat-icon>
                                    Download Policy
                                </a>

                            </div>
                        </div>

                        <div class="col-5">

                            <div class="key-benefits">
                                <h5 class="title">Match Benefits</h5>
                                <ul>
                                    <li *ngFor="let key of offer.matchBenefits">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        <span> {{key}}</span>
                                    </li>
                                </ul>

                                <h5 *ngIf="offer.extraBenefits.length" class="title">Extra Benefits</h5>
                                <ul>
                                    <li *ngFor="let key of offer.extraBenefits">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        <span> {{key}}</span>
                                    </li>
                                </ul>

                                <h5 *ngIf="offer.notMatchBenefits.length" class="title">Not Match Benefits</h5>
                                <ul>
                                    <li *ngFor="let key of offer.notMatchBenefits">
                                        <mat-icon color="warn">cancel</mat-icon>
                                        <span> {{key}}</span>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>


            </div>


            <div class="policy-details">

            </div>


            <mat-divider></mat-divider>

            <div class="details-footer pt-4">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-6 align-center">
                            <div class="label">Price</div>
                            <div *ngIf="offer.status==='quoted'" class="price">€{{offer.price}}</div>
                            <div *ngIf="offer.status==='pending'" class="price">€100 - €200</div>
                        </div>
                        <div class="col-6 text-right align-center">
                            <a [disabled]="offer.status==='pending'"
                               mat-raised-button color="primary"
                               href="https://online.bankofcyprus.com/netteller-web/Login.faces">
                                Purchase Now</a>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>


</div>
