.details {

  .label {
    padding-left: 4px;
    font-size: 18px;
    color: #7f7f7f;
  }

  .value {
    font-size: 25px;
  }
}

.amount {
  position: relative;
  top: 20px;
}

.amount-label {
  font-size: 18px;
  padding-left: 5px;
}
