<div class="container-fluid" style="position:relative;padding-left: 0 !important;padding-right: 0!important;">
  <img src="assets/hackathon/HomePage.jpg" alt="">
 </div>

<!--<embryo-HomePageThreeSlider [isRTL]="embryoService.isDirectionRtl"></embryo-HomePageThreeSlider>-->
<!--<div class="home-main-banner mb-5">-->
<!--<div class="container">-->
<!--<div fxLayout='row wrap' fxLayoutGap="0px">-->
<!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="63" fxFlex.xl="63">-->
<!--<div class="home-slider">-->
<!--<embryo-HomePageOneSlider [isRTL]="embryoService.isDirectionRtl"></embryo-HomePageOneSlider>-->
<!--</div>-->
<!--</div>-->
<!--<div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="37" fxFlex.xl="37">-->
<!--<div class="aside-banner">-->
<!--<a [routerLink]="['/products/accessories']" class="card-shadow"> <img-->
<!--src="assets/images/aside-1.jpg" alt="side" width="547" height="315"></a>-->
<!--</div>-->
<!--<div class="aside-banner">-->
<!--<a [routerLink]="['/products/accessories']" class="card-shadow"><img src="assets/images/aside-2.jpg"-->
<!--alt="side" width="547"-->
<!--height="315"></a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="feature-section">
  <div style="margin-top:100px;" class="container pt-5">
    <embryo-Features></embryo-Features>
  </div>
</div>
<!--<embryo-CollectionGallery></embryo-CollectionGallery>-->
<div style="margin-top:150px !important; padding:0!important;" class="container">
  <div class="row">
    <div class="p-5 col-6">
      <img style="height:auto !important;" src="assets/hackathon/userside.png" alt="">
    </div>
    <div class="col-6 p-5">
      <h2 class="letter-spacing"> Verify once, Multiple Benefits !</h2>
      <p class="description">Did you need to send your detail to an organisation. Zaapy provides you this and assurance for you to proof to any company that you are a trustworthy client to get facilities that othwerwise would take too much time.</p>
      <div class="example-button-row">
        <button class="slim-btn-lg" mat-raised-button color="primary">GET STARTED</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:100px !important; padding:0!important;" class="container mt-5">
  <div class="row">
      <div class="col-6 p-5">
      <h2>Risk Assessment For Your Next Client</h2>
        <p class="description">
          Zaapy provides you credit scores to check your client and provides you Kyc and Credit score through us but from data and algorithms designed from the biggest organisations in the country.
        </p>
      <div class="example-button-row">
        <button class="slim-btn-lg" mat-raised-button color="primary">GET STARTED</button>
      </div>
    </div>
    <div class="col-6 p-5">
      <img style="height:100% !important;" src="assets/hackathon/Asset 1.png" alt="">
    </div>
  </div>
</div>
<!--<embryo-LighteningDeals *ngIf="false"-->
<!--[lighteningDeals]="lighteningDealsProducts"></embryo-LighteningDeals>-->

<!--<embryo-TopProducts *ngIf="topProducts" [products]="topProducts" [currency]="embryoService?.currency"-->
<!--(addToCart)="addToCart($event)"></embryo-TopProducts>-->


<div class="section-gap ">
  <div class="container">
    <div fxLayoutAlign="space-between" class="w-100">
      <div class="block-title mb-4">
        <h3 class="text-center">Our Partners</h3>
      </div>
    </div>
    <embryo-BrandsLogo [isRTL]="embryoService.isDirectionRtl"></embryo-BrandsLogo>
  </div>
</div>


<!--<div class="section-gap pb-0">-->
<!--<embryo-SubscribeTwo></embryo-SubscribeTwo>-->
<!--</div>-->
