@import "../../../../../../assets/scss/material-theme";

.item {
  border: 1px solid #eaeaea;
  border-left: 4px solid $accent;
  padding: 20px 10px;

  margin: 10px;
  border-radius: 4px;


  .fa {

    font-size: 30px;
    color: $accent;
    position: relative;
    top: -4px;
  }

  .label {
    font-weight: 500;
  }


}
