<div class="row item no-gutters {{getColor(plan.total)}}" (click)="showDetails=!showDetails">


    <div class="col-4 align-center pr-1">

        <div class="row no-gutters">

            <div class="col-3 text-center align-center">
                <i class="fa fa-{{plan.icon}}"></i>
            </div>


            <div class="col-9 align-center pl-1">

                <div class="row no-gutters company">

                    <div class="col-12">
                        <h4 style="font-size: 1.8em;">{{plan.name}}</h4>
                        <h6 class="text-muted">{{plan.product}}</h6>
                    </div>

                </div>
            </div>

        </div>

    </div>


    <div class="col-3 align-center">
        <div class="label">Issue On</div>
        <span class="text-muted date value">{{plan.startDate | amDateFormat:'LL'}}</span>
    </div>


    <div class="col-3 align-center">
        <div class="label"> Expires On <span class="auto-renew">(Auto Renew)</span></div>
        <span class="text-muted date value">{{plan.expiresDate | amDateFormat:'LL'}}</span>
    </div>


    <div class="col-2 text-right align-center">
        <button mat-raised-button color='accent' (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"
                class="mr-3">Actions
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Cancel Insurance</button>
            <button mat-menu-item>Update Details</button>
            <button mat-menu-item>Change Policy/Premium</button>
        </mat-menu>
    </div>

    <div class="col-12 p-0">

        <div *ngIf="showDetails" class="w-100 details d-block align-center" (click)="$event.stopPropagation()">

            <div class="score">
                <h4 class="title" fxFlexAlign="center">
                    Score
                    <span class="percentage">
                    {{plan.total}}%
                </span>
                </h4>

                <div fxLayout="row" fxFlex="100" fxLayoutGap="20px">
                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p20 small center {{getColor(plan.benefit)}}">
                            <span>{{plan.benefit}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Benefits</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{plan.premium}} small  center {{getColor(plan.premium)}}">
                            <span>{{plan.premium}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Premium</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{plan.security}} small  center {{getColor(plan.security)}}">
                            <span>{{plan.security}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Financial Security</div>
                    </div>
                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{plan.easeOfuse}} small  center {{getColor(plan.easeOfuse)}}">
                            <span>{{plan.easeOfuse}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Ease of Use</div>
                    </div>

                    <div class="score-item" fxFlex="calc(20% - 20px)">
                        <div class="c100 p{{plan.customerSatisfaction}} small  center {{getColor(plan.customerSatisfaction)}}">
                            <span>{{plan.customerSatisfaction}}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <div class="type">Customer Satisfaction</div>
                    </div>
                </div>
            </div>


            <div class="information pt-4">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col-7">
                            <h4 class="title">Who Provides the Insurance</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque commodi cum ea
                                eligendi minus odio omnis reiciendis sapiente voluptas!
                            </p>


                            <h4 class="title">Duration</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt maiores molestiae non
                                repudiandae. Cumque iste maiores quaerat quam quos, voluptatem?
                            </p>


                            <div class="action pt-2 pb-3">
                                <a mat-button href="/assets/media/policy.pdf" download>
                                    <mat-icon class="mr-2" color="accent">cloud_download</mat-icon>
                                    Download Policy
                                </a>
                            </div>

                        </div>

                        <div class="col-5">

                            <div class="key-benefits">
                                <h5 class="title">Key Benefits</h5>
                                <ul>
                                    <li *ngFor="let key of plan.matchBenefits">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        <span> {{key}}</span>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>


            </div>


            <div class="policy-details">

            </div>


            <mat-divider></mat-divider>

            <div class="details-footer pt-4">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-6 align-center">
                            <div class="label">Price</div>
                            <div class="price">€{{plan.price}}</div>
                        </div>
                    </div>
                </div>


            </div>


        </div>

    </div>


</div>
