<mat-card>
    <mat-card-header>
        <mat-icon color="primary" matCardAvatar>perm_contact_calendar</mat-icon>
        <mat-card-title>Contact Info</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content>
        <mat-list class="info">

            <mat-list-item>
                <mat-icon class="mr-2" color="accent">phone</mat-icon>
                <a href="">22 23 23 23</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="mr-2" color="accent">email</mat-icon>
                <a href="insurance@insure.com">insurance@insure.com</a>
            </mat-list-item>

            <mat-list-item>
                <mat-icon class="mr-2" color="accent">location_on</mat-icon>
                <a href="2726 Shinn Street, New York">2726 Shinn Street, New York</a>
            </mat-list-item>


            <mat-list-item>
                <mat-icon class="mr-2" color="accent">desktop_mac</mat-icon>
                <a href="www.website.com">www.website.com</a>

            </mat-list-item>

        </mat-list>

    </mat-card-content>

</mat-card>
