<mat-card class="p-0">
    <div fxLayout='row wrap' fxLayoutGap="0px" class="feature-list">
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="feature-inner p-4 std-padding">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        <img class="std-size" src="assets/media/choice.png" alt="Feature of embryo" width="50"
                             height="50">
                    </div>
                    <div class="px-4">
                        <h6 class="text-md"></h6>
                        <h5 class="std-font">CHOOSE MULTIBLE AGENCIES</h5>
                         <span class="text-muted text-lg ">Choose from over 40 agencies in Cyprus.kk</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="feature-inner p-4 std-padding">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        <img class="std-size" src="assets/media/quote.png" alt="Feature of embryo" width="50"
                             height="50">
                    </div>
                    <div class="px-4">
                        <h6 class="text-md"></h6>
                        <h5 class="std-font">GET YOUR QUOTES</h5>
                         <span class="text-muted text-lg">Get insurance offers with minimum hassle.</span>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33">
            <div class="feature-inner p-4 std-padding">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div>
                        <img class="std-size" src="assets/media/book.png" alt="Feature of embryo" width="50"
                             height="50">
                    </div>
                    <div class="px-4">
                        <h6 class="text-md"></h6>
                        <h5 class="std-font">PICK BEST OFFER</h5>
                         <span class="text-muted text-lg">Pick the best offer and pay online.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>
