@import '~ngx-bar-rating/themes/br-stars-theme.css';
//@import '~bootstrap/scss/reboot';
@import '~bootstrap-4-grid/scss/grid';
@import '~css-percentage-circle/css/circle.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.mat-card {

  h4 {
    position: relative;
    top: -6px;
  }
}

.mat-chip-list {

  &.small {
    mat-chip {
      min-height: 27px;
      padding: 0 10px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}
