@import '~ngx-bar-rating/themes/br-stars-theme.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
//@import '~bootstrap-4-grid/scss/grid';
@import '~css-percentage-circle/css/circle.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';


.mat-card {

  h4 {
    position: relative;
    top: -6px;
  }
}

.mat-chip-list {

  &.small {
    mat-chip {
      min-height: 27px;
      padding: 0 10px;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

h4.title {
  mat-icon {
    position: relative;
    top: 3px;
    margin-right: 4px;
  }
}

*:focus {
  outline: none !important;
  border: 0 !important;
}

.alert {
  border: 1px solid #ececec;

  span {
    position: relative;
    top: -6px;
    padding-left: 5px;
  }
}
